<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.demo.controller" />
	<context:property-placeholder location="classpath:*.properties" />
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<mvc:annotation-driven validator="validator">
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
			<bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter4">
				<property name="charset" value="UTF-8" />
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
				<property name="fastJsonConfig">
					<bean class="com.alibaba.fastjson.support.config.FastJsonConfig">
						<property name="features">
							<list>
								<!-- <value>WriteMapNullValue</value> -->
								<value>QuoteFieldNames</value>
								<value>WriteDateUseDateFormat</value>
								<value>WriteEnumUsingToString</value>
								<value>AllowArbitraryCommas</value>
								<value>AllowUnQuotedFieldNames</value>
								<value>DisableCircularReferenceDetect</value>
							</list>
						</property>
						<property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"></property>
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<!-- 这里配置将使用下面国际化配置的messageSource -->
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<!-- 可以指定文件编码,可以使用classpath: 或者WEB-INF/ 前缀 -->
	<!-- <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"> -->
	<bean id="messageSource" class="com.demo.message.MultipleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:i18n/**/*</value>
				<!-- <value>classpath:messages</value> -->
				<!-- <value>classpath:ValidationMessages</value> -->
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="60" />
		<property name="useCodeAsDefaultMessage" value="false" />
	</bean>

	<!-- *************************国际化配置************************* -->
	<!-- 定义本地语言变更拦截器 -->
	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="language" />
	</bean>
	<!-- 按cookie解析区域语言 -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName" value="language" />
		<!-- <property name="cookieMaxAge" value="3600" /> -->
		<!-- <property name="defaultLocale" value="en" /> -->
	</bean>
	<!-- 按session解析区域语言 -->
	<!-- <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" /> -->
	<!-- *************************国际化配置完毕************************* -->

	<!-- ViewResolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- <bean name="/hello" class="cn.javass.chapter2.web.controller.HelloWorldController"/> -->

	<!-- 支持上传文件 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="9437184" />		<!-- 3M -->
		<property name="maxInMemorySize" value="102400" />		<!-- 100K -->
		<!-- <property name="uploadTempDir" value="/upload" /> -->
		<property name="defaultEncoding" value="utf-8" />
		<property name="resolveLazily" value="true" />
	</bean>

	<mvc:interceptors>
		<!-- <mvc:interceptor> -->
		<!-- <mvc:mapping path="/**" /> -->
		<!-- <bean id="concurrencyThrottleInterceptor" -->
		<!-- class="org.springframework.aop.interceptor.ConcurrencyThrottleInterceptor" -->
		<!-- scope="prototype"> -->
		<!-- <property name="concurrencyLimit" value="2" /> -->
		<!-- </bean> -->
		<!-- </mvc:interceptor> -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
				<property name="paramName" value="language" />
			</bean>
		</mvc:interceptor>
		<!-- <mvc:interceptor> -->
		<!-- <mvc:mapping path="/**" /> -->
		<!-- <bean class="com.demo.interceptor.CasInterceptor" /> -->
		<!-- </mvc:interceptor> -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:mapping path="/stu/*" />
			<bean class="com.demo.interceptor.MyInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:mapping path="/stu/*" />
			<bean class="com.demo.interceptor.RedirectInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>